.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@-webkit-keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-moz-keyframes toRightFromLeft {
  49% {
    -moz-transform: translate(100%);
  }
  50% {
    opacity: 0;
    -moz-transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-o-keyframes toRightFromLeft {
  49% {
    -o-transform: translate(100%);
  }
  50% {
    opacity: 0;
    -o-transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toRightFromLeft {
  49% {
    transform: translate(100%);
  }
  50% {
    opacity: 0;
    transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-webkit-keyframes toLeftFromRight {
  49% {
    -webkit-transform: translate(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(100%);
  }
  51% {
    opacity: 1;
  }
}
@-moz-keyframes toLeftFromRight {
  49% {
    -moz-transform: translate(-100%);
  }
  50% {
    opacity: 0;
    -moz-transform: translate(100%);
  }
  51% {
    opacity: 1;
  }
}
@-o-keyframes toLeftFromRight {
  49% {
    -o-transform: translate(-100%);
  }
  50% {
    opacity: 0;
    -o-transform: translate(100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toLeftFromRight {
  49% {
    transform: translate(-100%);
  }
  50% {
    opacity: 0;
    transform: translate(100%);
  }
  51% {
    opacity: 1;
  }
}
@-webkit-keyframes toTopFromBottom {
  49% {
    -webkit-transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
@-moz-keyframes toTopFromBottom {
  49% {
    -moz-transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -moz-transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
@-o-keyframes toTopFromBottom {
  49% {
    -o-transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -o-transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toTopFromBottom {
  49% {
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
@-webkit-keyframes toBottomFromTop {
  49% {
    -webkit-transform: translateY(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-moz-keyframes toBottomFromTop {
  49% {
    -moz-transform: translateY(100%);
  }
  50% {
    opacity: 0;
    -moz-transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-o-keyframes toBottomFromTop {
  49% {
    -o-transform: translateY(100%);
  }
  50% {
    opacity: 0;
    -o-transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toBottomFromTop {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
a:not(.btn) {
  color: #ad1d34;
}
a:not(.btn):hover {
  color: #e14f66;
}
body {
  color: #333;
}
body.bg {
  background: #fff;
}
#sp-top-wrapper {
  background: #e6e6e6;
}
#sp-top-wrapper #sp-position-menutopright ul li a {
  color: #868686;
}
#sp-top-wrapper #sp-position-menutopright ul li a:hover {
  color: #e14f66;
}
#sp-header-wrapper {
  background: #fff;
}
#sp-header-wrapper #logo {
  background-image: url(../../images/presets/preset3/logo.png);
}
#sp-header-wrapper #logo_text {
  color: #e14f66;
}
#sp-header-wrapper #logo_text:hover {
  color: #e14f66;
}
#sp-header-wrapper .search-form input {
  background: #edf2ee;
  color: #8e8e8e;
}
#sp-header-wrapper .search-form button {
  background: #edf2ee;
  color: #8e8e8e;
}
#sp-header-wrapper .widget_shopping_cart {
  background: url(../../images/presets/preset3/icon_cart_mini.png) no-repeat 0% 50%;
}
#sp-header-wrapper .widget_shopping_cart .widget_shopping_cart_content .button {
  color: #e14f66;
}
#sp-header-wrapper .widget_shopping_cart .widget_shopping_cart_content .button:hover {
  color: #333;
}
#sp-main-menu ul.level-0 > li.active {
  background-color: #e14f66;
  border-bottom: 1px solid #fff;
}
#sp-main-menu ul.level-0 > li.active a {
  color: #fff;
}
#sp-main-menu ul.level-0 > li:hover {
  background-color: #e14f66;
}
#sp-main-menu ul.level-0 > li:hover a {
  color: #fff;
}
#sp-main-menu li li a {
  color: #333 !important;
}
#sp-main-menu li li.active {
  background: #fff;
}
#sp-main-menu li li.active a {
  color: #e14f66 !important;
}
#sp-main-menu li li:hover {
  background: #fff;
}
#sp-main-menu li li:hover a {
  color: #e14f66 !important;
}
#sp-menu-wrapper {
  background: #e14f66;
}
#sp-menu-wrapper ul#menu-menu-header li a {
  color: #fff;
}
#sp-menu-wrapper ul#menu-menu-header li:hover {
  background: #eeeeee;
}
#sp-menu-wrapper ul#menu-menu-header li:hover a {
  color: #e14f66;
}
#sp-menu-wrapper ul#menu-menu-header li.active {
  background: #eeeeee;
}
#sp-menu-wrapper ul#menu-menu-header li.active a {
  color: #e14f66;
}
#sp-main-categories ul.level-0 > li {
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
#sp-main-categories ul.level-0 > li.active {
  background-color: #e14f66;
}
#sp-main-categories ul.level-0 > li.active a {
  color: white;
}
#sp-main-categories ul.level-0 > li:hover {
  background-color: #e14f66;
}
#sp-main-categories ul.level-0 > li:hover a {
  color: white;
}
#sp-main-categories li li a {
  color: #333 !important;
}
#sp-main-categories li li.active {
  background: #eeeeee !important;
}
#sp-main-categories li li.active a {
  color: #e14f66 !important;
}
#sp-main-categories li li:hover {
  background: #eeeeee !important;
}
#sp-main-categories li li:hover a {
  color: #e14f66 !important;
}
#sp-feature-wrapper a:not(.btn) {
  color: #f0a6b2;
}
#sp-feature-wrapper a:not(.btn):hover {
  color: #fffdfe;
}
#sp-feature-wrapper .camera_caption > div {
  background: none;
  padding: 10px 0;
}
#sp-feature-wrapper .camera_caption h3 {
  color: #e14f66;
  background: #4d4e4b;
  font-size: 72px;
  margin: 0;
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 35px;
}
#sp-feature-wrapper .camera_caption .content {
  font-size: 30px;
  background: #4d4e4b;
  margin: 0;
  line-height: 35px;
  padding-bottom: 50px;
  padding-left: 35px;
  padding-right: 35px;
}
#sp-feature-wrapper .camera_caption .buttonlight {
  color: #fff !important;
  background: #83c43b;
}
#sp-feature-wrapper .camera_caption .buttonlight:hover {
  background: #e14f66;
}
#sp-feature-wrapper .camera_wrap .camera_pag .camera_pag_ul li.cameracurrent {
  background-color: #e14f66;
}
#sp-users-wrapper {
  background: #fff;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}
#sp-main-body-wrapper {
  background: #fff;
}
#leftsidebar h3 {
  color: #e14f66;
}
#leftsidebar .tagcloud a {
  color: #333;
  border: 1px solid #dedede;
}
#leftsidebar .tagcloud a:hover {
  background: #e14f66;
  color: #fff;
  border: 1px solid #e14f66;
}
#leftsidebar .vina-tree-view {
  border: none;
}
#leftsidebar .vina-tree-view .tree-view li a {
  color: #333;
}
#leftsidebar .vina-tree-view .tree-view li:before {
  color: #cfcfcf;
}
#leftsidebar .vina-tree-view .tree-view li:hover a {
  color: #e14f66;
}
#leftsidebar .vina-tree-view .tree-view li:hover:before {
  color: #e14f66;
}
#leftsidebar .widget_categories ul li a {
  color: #333;
}
#leftsidebar .widget_categories ul li:before {
  color: #cfcfcf;
}
#leftsidebar .widget_categories ul li:hover a {
  color: #e14f66;
}
#leftsidebar .widget_categories ul li:hover:before {
  color: #e14f66;
}
#leftsidebar .contact-wrapper .contact-icon {
  background: #e14f66;
  color: #fff;
}
#leftsidebar .signup-from {
  overflow: hidden;
}
#leftsidebar .signup-from input {
  background: #fff;
}
#leftsidebar .signup-from .btn-fashion {
  background: #e14f66;
}
#leftsidebar .signup-from .btn-fashion:hover {
  background: #333;
}
#leftsidebar .price_slider_wrapper .ui-slider-range {
  background: #e14f66;
}
#leftsidebar .widget_best_sellers li a {
  color: #e14f66;
}
#leftsidebar .widget_best_sellers li del {
  color: #8d8c8c;
}
#leftsidebar .widget_best_sellers li ins {
  color: #595959;
}
#leftsidebar .widget_layered_nav ul li a {
  color: #333;
}
#leftsidebar .widget_layered_nav ul li small {
  color: #333;
}
#leftsidebar .widget_layered_nav ul li:before {
  color: #cfcfcf;
}
#leftsidebar .widget_layered_nav ul li:hover a {
  color: #e14f66;
}
#leftsidebar .widget_layered_nav ul li:hover small {
  color: #e14f66;
}
#leftsidebar .widget_layered_nav ul li:hover:before {
  color: #e14f66;
}
#contentsidebar h1.page-title {
  color: #e14f66;
}
#contentsidebar h1.entry-title {
  color: #e14f66;
}
#contentsidebar #sp-slide-category .camera_wrap .camera_pag .camera_pag_ul li {
  background: #fff;
}
#contentsidebar #sp-slide-category .camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
  background: #e14f66;
}
#contentsidebar #sp-slide-category .camera_wrap .camera_pag .camera_pag_ul li:hover > span {
  background: #e14f66;
}
#contentsidebar #sp-position-bestseller .vina-woo-scroller-widget ul li .slide {
  background: #fff;
}
#contentsidebar #sp-position-bestseller .vina-woo-scroller-widget ul li .title {
  color: #e14f66;
}
#contentsidebar #sp-position-bestseller .vina-woo-scroller-widget ul li .price del {
  color: #8d8c8c;
}
#contentsidebar #sp-position-bestseller .vina-woo-scroller-widget ul li .price span {
  color: #595959;
}
#contentsidebar #sp-position-bestseller .vina-woo-scroller-widget ul li .add-cart-wrapper .add-to-cart {
  color: #636363;
}
#contentsidebar #sp-position-bestseller .vina-woo-scroller-widget ul li .add-cart-wrapper .add-to-cart:hover {
  color: #e14f66;
}
#contentsidebar #sp-position-bestseller .vina-woo-scroller-widget .toolbar .toolbar-inner span {
  background: #b5b5b5;
  color: #fff;
}
#contentsidebar #sp-position-bestseller .vina-woo-scroller-widget .toolbar .toolbar-inner:hover span {
  background: #e14f66;
}
#contentsidebar ul li .add-cart-wrapper {
  cursor: pointer;
}
#contentsidebar ul li .add-cart-wrapper .img-cart-inner {
  background: url(../../images/presets/preset3/icon_cart_mini.png) no-repeat;
}
#contentsidebar ul li .add-cart-wrapper .add_to_cart_button {
  color: #636363;
}
#contentsidebar ul li .add-cart-wrapper .add_to_cart_button:hover {
  color: #e14f66;
}
#contentsidebar ul li .add-cart-wrapper .added_to_cart {
  color: #333;
}
#contentsidebar ul li .add-cart-wrapper .added_to_cart:hover {
  color: #e14f66;
}
#contentsidebar ul li .product_type_variable {
  color: #333;
}
#contentsidebar ul li .product_type_variable:hover {
  color: #e14f66;
}
#contentsidebar #sp-online-shipping .online-shipping-wrapper {
  border: 1px solid #e14f66;
}
#contentsidebar #sp-online-shipping .online-shipping-wrapper .online {
  background: #fff;
  color: #333;
  border: 1px solid #333;
}
#contentsidebar #sp-online-shipping .online-shipping-wrapper strong span {
  color: #e14f66;
}
#contentsidebar #sp-online-shipping .online-shipping-wrapper:hover .online {
  border: 1px solid #e14f66;
  color: #fff;
  background: #e14f66;
}
#contentsidebar #container .star-rating span {
  color: #ff7709;
}
#contentsidebar #container ul.products li .title-pro {
  color: #e14f66;
}
#contentsidebar #container ul.products li .price del {
  color: #8d8c8c;
}
#contentsidebar #container ul.products li .price ins {
  color: #595959;
}
#contentsidebar #container .summary .stock-value {
  color: #e14f66;
}
#contentsidebar #container .summary .price del {
  color: #8d8c8c;
}
#contentsidebar #container .summary .price ins {
  color: #595959;
}
#contentsidebar #container .summary .info-review .add_review a {
  color: #e14f66;
}
#contentsidebar #container .summary .info-review .add_review a:hover {
  color: #333;
}
#contentsidebar #container .woocommerce-tabs ul.tabs li {
  background: #e14f66;
}
#contentsidebar #container .woocommerce-tabs ul.tabs li a {
  color: #fff;
}
#contentsidebar #container .woocommerce-tabs ul.tabs li:hover {
  background: #333;
}
#contentsidebar #container .woocommerce-tabs ul.tabs li.active {
  background: #333;
}
#contentsidebar #container .images .thumbnails .carousel .carousel-control {
  color: #fff;
  background: #b3b3b3;
}
#contentsidebar #container .images .thumbnails .carousel .carousel-control:hover {
  background: #e14f66;
}
#contentsidebar #container .entry-content .add_review a {
  background: #e14f66;
  color: #fff;
}
#contentsidebar #container .variations .label {
  background: #e14f66;
}
#contentsidebar #container .variations .label:hover {
  background: #333;
}
body.home #contentsidebar h3 {
  color: #e14f66;
}
#sp-position-1 {
  background: #fff;
}
#sp-position-1 .carousel-home {
  background: #fff;
}
#sp-position-1 .carousel-control {
  background: #b6b6b6;
  color: #fff;
}
#sp-position-1 .carousel-control:hover {
  background: #e14f66;
}
.sp-widget.highlighted {
  background: #d82541;
}
.sp-widget.highlighted a:not(.btn) {
  color: #e87b8c;
}
.sp-widget.highlighted a:not(.btn):hover {
  color: #ad1d34;
}
#sp-bottom-wrapper {
  background: #e5eae3;
}
#sp-bottom-wrapper h3 {
  color: #e14f66;
}
#sp-bottom-wrapper .twitter-wrapper p i {
  color: #e14f66;
}
#sp-bottom-wrapper .twitter-wrapper li .get-social li {
  background: #333;
}
#sp-bottom-wrapper .twitter-wrapper li .get-social li i {
  color: #fff;
}
#sp-bottom-wrapper .twitter-wrapper li .get-social li:hover {
  background: #e14f66;
}
#sp-bottom-wrapper .twitter-wrapper li .author {
  color: #e14f66;
}
#sp-bottom-wrapper .twitter-wrapper li .author:hover {
  color: #d82541;
}
#sp-bottom-wrapper .menu li a {
  color: #333;
}
#sp-bottom-wrapper .menu li a:hover {
  color: #e14f66;
}
#sp-bottom-wrapper .opening-hours i {
  color: #e14f66;
}
#sp-bottom-wrapper .useful-links i {
  color: #e14f66;
}
#sp-bottom-wrapper .useful-links li a {
  color: #333;
}
#sp-bottom-wrapper .useful-links li a:hover {
  color: #e14f66;
}
#sp-footer-wrapper {
  background: #191e23;
  color: #a1a2a2;
}
#sp-footer-wrapper h3 {
  color: #333;
}
#sp-footer-wrapper a {
  color: #fff;
}
#sp-footer-wrapper a:hover {
  color: #e14f66;
}
#sp-footer-wrapper .sp-totop .icon-caret-up {
  color: #fff;
  background: #e14f66;
  border: 1px solid #e14f66;
}
#sp-footer-wrapper .sp-totop .icon-caret-up:hover {
  background: #fff;
  color: #e14f66;
}
.carousel-caption {
  color: #fff;
}
.sp-border {
  border-top: 1px solid #550f1a;
}
.sp-border::after {
  background: #a01b30;
}
.btn-primary,
button,
input[type='submit'],
input[type='button'],
submit {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #e1644f;
  background-image: -moz-linear-gradient(top,#e1504f,#e1814f);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#e1504f),to(#e1814f));
  background-image: -webkit-linear-gradient(top,#e1504f,#e1814f);
  background-image: -o-linear-gradient(top,#e1504f,#e1814f);
  background-image: linear-gradient(to bottom,#e1504f,#e1814f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe0504f', endColorstr='#ffe1814f', GradientType=0);
  border-color: #e1814f #e1814f #c25821;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #e1814f;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled],
button:hover,
button:active,
button.active,
button.disabled,
button[disabled],
input[type='submit']:hover,
input[type='submit']:active,
input[type='submit'].active,
input[type='submit'].disabled,
input[type='submit'][disabled],
input[type='button']:hover,
input[type='button']:active,
input[type='button'].active,
input[type='button'].disabled,
input[type='button'][disabled],
submit:hover,
submit:active,
submit.active,
submit.disabled,
submit[disabled] {
  color: #fff;
  background-color: #e1814f;
  *background-color: #dd7139;
}
.btn-primary:active,
.btn-primary.active,
button:active,
button.active,
input[type='submit']:active,
input[type='submit'].active,
input[type='button']:active,
input[type='button'].active,
submit:active,
submit.active {
  background-color: #d86225 \9;
}
.woocommerce-info {
  border-top: 3px solid #e14f66 !important;
}
.woocommerce-info:before {
  background-color: #e14f66 !important;
}
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce #content input.button.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page #content input.button.alt {
  background: #e14f66 !important;
  border: none !important;
}
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce #content input.button.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page #content input.button.alt:hover {
  background: #333 !important;
}
#pricing-table .ca-menu li h1 {
  background-color: #e14f66;
  color: #fff;
}
#pricing-table .ca-menu li .pricing-button {
  background: #e14f66;
}
#pricing-table .ca-menu li:hover .pricing-button {
  background: #252f38;
}
#pricing-table .ca-menu li.old {
  border: none;
}
#pricing-table .ca-menu li.old h1 {
  background-color: #c4c4c4;
  color: #fff;
}
#pricing-table .ca-menu li.old .pricing-p {
  border: none;
}
#pricing-table .ca-menu li.old .pricing-p.one {
  background: #f1f1f1;
}
#pricing-table .ca-menu li.old .pricing-p.two {
  background: #fff;
}
#pricing-table .ca-menu li.old .pricing-button {
  background: #474747;
}
#pricing-table .ca-menu li.old:hover h1 {
  background-color: #e14f66;
  color: #fff;
}
#pricing-table .ca-menu li.old:hover .pricing-button {
  background: #e14f66;
}
#about-us .tab {
  border: 1px solid #e6e6e6;
  float: left;
  margin-bottom: 20px;
}
#about-us .tab .tabbale {
  float: left;
}
#about-us .tab .tabbale ul li.active a {
  background: #e14f66;
}
#about-us .tab .tabbale ul li:hover a {
  background: #333;
  color: #fff;
}
#about-us .tab .tabbale .tab-content {
  background: #e14f66;
  color: #fff;
}
#contact-us .contact-form {
  background: #e14f66;
  color: #fff;
}
#contact-us .contact-form input {
  background: #db2c48;
  color: #fff;
}
#contact-us .contact-form textarea {
  background: #db2c48;
  color: #fff;
}
#contact-us .contact-form #submit-button {
  background: #333;
}
#contact-us .contact-form #submit-button:hover {
  background: #ccc;
}
#gallery-trainers .gallery-filters a:hover {
  background: #e14f66;
  color: #fff;
}
#gallery-trainers .gallery-filters a.active {
  background: #e14f66;
  color: #fff;
}
#gallery-trainers .img-polaroid:hover {
  background: url(../../images/zoom.png) no-repeat scroll 50% 50%;
}
#gallery-trainers .img-polaroid:hover img {
  opacity: 0.2;
}
#ask-questions .accordion-heading a {
  color: #333;
  background: #fff;
}
#ask-questions .accordion-heading a:hover {
  color: #e14f66;
}
#ask-questions .accordion-inner {
  background: #fff;
}
#privacy-security h3 i {
  color: #e14f66;
}
#promotions h3 i {
  color: #e14f66;
}
